<ons-toolbar>
    <div class="left"><ons-back-button>Назад</ons-back-button></div>
    <div class="center">
        {{ category ? 'Изменить категорию' : 'Создать категорию' }}
    </div>
</ons-toolbar>
<div class="content">
    <ul class="list form-list">
        <li class="list-item">
            <div class="list-item__left">
                <ons-icon icon="fa-folder" class="list-item__icon"></ons-icon>
            </div>
            <div class="list-item__center">
                <ons-input placeholder="Название категории" [(value)]="model.title" class="form-list-input"></ons-input>
            </div>
        </li>
    </ul>
</div>
<ons-bottom-toolbar>
    <ons-button modifier="large" (click)="save()">Сохранить</ons-button>
</ons-bottom-toolbar>