<ons-toolbar>
    <div class="left"><ons-back-button>Назад</ons-back-button></div>
    <div class="center">
        {{ task ? task.title : 'Создать задачу' }}
    </div>
</ons-toolbar>
<div class="content">
    <ons-list modifier="inset" class="form-list">
        <ons-list-header>Заголовок</ons-list-header>
        <ons-list-item>
            <ons-input placeholder="Заголовок" [(value)]="model.title" class="form-list-input"></ons-input>
        </ons-list-item>
    </ons-list>
    <ons-list modifier="inset" class="form-list">
        <ons-list-header>Описание</ons-list-header>
        <ons-list-item>
            <ons-input placeholder="Описание" [(value)]="model.description" class="form-list-input"></ons-input>
        </ons-list-item>
    </ons-list>
</div>
<ons-bottom-toolbar>
    <ons-button modifier="large" (click)="save()">Сохранить</ons-button>
</ons-bottom-toolbar>