/* You can add global styles to this file, and also import other style files */

.form-list {
    
    .form-list-input {
        width: 100%;
    }

    .form-list-textarea {
        width: 100%;
        height: 100px;
        background: #eee;
        padding: 10px;
    }
}

